body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.outline-text {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}

#ucaan-logo-image {
    position: absolute;
    max-width: 20%;
    height: auto;
    
    left: 50%;
    transform: translate(-50%, -10%);
}

@media only screen and (min-width: 1000px) {
    #ucaan-logo-image {
        padding-left: 3em;
        
        left: 0%;
        transform: translate(0%, 0%);
    }
}

.ucaan-navbar-buttons {
    padding-right: 2em;
}

.ucaan-navbar-button:hover {
    background-color: #8e24aa !important;
}

#ucaan-mobile-navbar {
    font-weight: 400;
}

#ucaan-mobile-activate {
    padding-left: 2em;
}

#ucaan-description-button {
    color: black;
}

#ucaan-description-background {
    background: url('/static/images/main-background.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    padding-top: 13em;
    padding-bottom: 13em;
    
}

#ucaan-description {
    padding-bottom: 1em;
    color: white;
    font-weight: 700;
}

#what-is-ucaan {
    padding-top: 2em;
    padding-bottom: 1.5em;
    background-color: black;
}

#ucaan-ribbon {
    max-height: 12em;
    width: auto;
}

#what-is-ucaan-text {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    font-weight: 700;
}

/*
#ucaan-patients {
    padding-top: 2em;
    background-color: lightgray;
}

.ucaan-patient > h3 {
    font-size: 2em;
}

.ucaan-patient > p {
    font-size: 1.25em;
    text-align: left;
}

.ucaan-patient > img {
    background: url('/static/images/patient-1.jpg') no-repeat;
    border-radius: 50%;
    max-width: 20em;
    height: auto;
}
*/

#ucaan-slideshow {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: whitesmoke;
}

#ucaan-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    text-align: center;
}

#ucaan-copyright-text {
    color: white;
}

.inline-images {
    display: inline-block;
}

.inline-images > a {
    margin-left: 15px;
    margin-right: 15px;
}

.inline-images > a:hover {
    opacity: 0.7;
}

.inline-images > a > img {
    max-height: 32px;
    width: auto;
}

