vti_encoding:SR|utf8-nl
vti_author:SR|MITCHELLPC\\Mitchell
vti_modifiedby:SR|MITCHELLPC\\Mitchell
vti_timelastmodified:TR|24 Dec 2015 09:09:53 -0000
vti_timecreated:TR|23 Dec 2015 05:24:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_nexttolasttimemodified:TW|24 Dec 2015 09:06:30 -0000
vti_cacheddtm:TX|24 Dec 2015 09:09:53 -0000
vti_filesize:IR|5539
vti_cachedlinkinfo:VX|S|../images/starField.png S|../images/planetThingMandelbulb.png
vti_cachedsvcrellinks:VX|FSUS|images/starField.png FSUS|images/planetThingMandelbulb.png
